.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  border: #61dafb79;
  border-radius: 5px solid;
  display: inline-block;
}

.btns{
  border: #20a0c3ad;
  border-radius: 4px solid;
  display: flex;
}

button{
  padding: 4px;
  margin: 2px;
  font-size: large;
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;
}


.table {
  display: table;
  border-bottom: 3px solid #49987b;
  background-color: #2a5a48;
  border-radius: 10px 10px 0 0;
  border-style: groove;
  width: 100%;
}

.table-caption {
  display: table-caption;
  padding: 10px;
  margin: 20px auto;
  font-size: 20px;
  font-weight: bold;
  width: fit-content;
  color: #FFF;
  border-radius: 10px;
}

.table-header {
  background-color: #49987b;
  /* display: table-header-group; */
  color: white;
  border-radius: 50%;
  font-weight: bold;
  width: fit-content;

}

.table-body {
  display: table-row-group;
  border-style: groove;
  border-color: #282c34;
}

.row {
  display: table-row;
}

.row:hover {background-color: coral;}

.cell {
  display: table-cell;
  padding: 10px;
  text-align: center;
}
